body{
    font-family: arial, sans-serif;
    margin: 20px;
    background-color: #f9e6e6; 
    
}
h1{
    color: #723f3f;
    justify-content: center;
    align-items: center;
}
div{
    color: #723f3f;
    margin-left: 30%;
    border-radius: 100px;
    font-size: medium;
}
button{
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #e0c5c5;
    border-radius: 10px;
    margin-bottom: 40px;
}
 
ul{
    padding: 0;
    width: 50%;
}
li{
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
